<!DOCTYPE html>
<link rel="stylesheet" href="main.css">

<!--icon here-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,700,0,200" />
<html>
    <body>
        <!--the header section or the top part of every page-->
        <section class="header">
            <nav>
                <!--the logo on the header-->
                <h2>A . A .</h2>
                <link rel="icon" type="image/x-icon" href="../profile/favicon.ico">
                <div class="nav-links">
                    <ul>
                        <!--the links to the other pages-->
                        <li><a href="{{ site.baseurl }}/">HOME</a></li>
                        <li><a href="{{ site.baseurl }}/about.html">ABOUT</a></li>
                        <li><a href="{{ site.baseurl }}/post.html">POSTS</a></li>
                        <!--<li><a href="{{ site.baseurl }}/test.html">i</a></li>-->
                        <li><a href="{{ site.baseurl }}/test.html"><span class="material-symbols-outlined">
                            search
                            </span></a></li>
                    </ul>
                </div>
            </nav>
        </section>
    </body>
</html>



